# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# How to remove folder from github, use this command 
# git rm -r --cached bin //where bin for example is the folder you wish to remove.
# git commit -m "Removed folder from repository"
# git push origin master



BitcoinWallet/bin/
BitcoinWallet/obj/


packages/
BLL/bin/
BLL/obj/
Setup1/Debug

*.dll
*.suo


.vs/


.vs/\CryptoBet/v15/.suo

